  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
body{
    line-height: 1.5;
    font-weight: 500;
    font-family: Noto Sans TC;
    font-size: 16px;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}
:root{
    --color-primary:#0027D5;
}
.meun{
    width: 100%;
    border: 1px solid gray;
}
.meun ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.meun li{
    font-size: 28px;
    font-weight: 700;
    list-style: none;
    padding: 8px 16px;
}
/*@media (max-width: 992px;){
    平版的寬度
}*/
.blog_header{
    position: relative;
}
.blog_header .introduce{
    position: absolute;
    z-index: 5;
    background-color: #fff;
    padding: 40px 80px;
    right: 40px;
    bottom: -120px;
    width: 50%;
}
.blog_header .introduce p{
    padding: 8px;
}
.header_picture{
    width: 100%;
    border: 1px solid gray;
    margin-bottom: 48px;
}
.blog_header {
  display: flex;
  height: 100vh;
}
.blog_bottom {
  display: flex;
  height: 100vh;
}
/* 讓圖片區塊也撐滿高度 */
.blog_header picture {
  display: block;
  height: 100vh;
  width: 50%;
}

.blog_bottom picture {
  display: block;
  height: 100vh;
  width: 50%;
}

/* 讓圖片鋪滿容器*/
.blog_header picture img {
  height: 100%;
  width: 100%;
  object-fit: cover;
} 

.blog_bottom picture img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* 右邊背景區塊 */
.blog_right {
  width: 50%;
  background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2025-web-camp/desktop/index/Hero%20Section2.png?raw=true");
  background-size: cover;
  background-position: center;
  padding-left: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--color-primary);
}

.blog_bottom .blog_right {
  width: 50%;
  background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2025-web-camp/desktop/index/Hero%20Section2.png?raw=true");
  background-size: cover;
  background-position: center;
  padding-left: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--color-primary);
}

.blog_bottom .blog_content{
    background-color: #fff;
}
.header_picture {
    display: flex;
    align-items: center;
}
.header_picture .header_right, .header_picture picture{
    width: 50%;
}
.header_picture .header_right{
    margin-left: 24px;
}
.header_picture .header_right time{
    display: block;
}
.header_picture .header_right h3{
    display: inline-block;
    font-size: 24px;
    color: var(--color-primary);
    margin: 8px 0px;
}
.header_picture .header_right .btn_blue{
    font-weight: 700;
    background-color: var(--color-primary);
    color: white;
    padding: 6px 16px;
    display: inline-block;
    border-radius: 40px;
    border: 0px;
}
.header_picture .header_right h1, .blog_header h1{
    font-size: 28px;
    font-weight: 700;
    margin: 8px 0px;
}
.header_right p{
    display: -webkit-box;
    -webkit-line-clamp: 2; /* 設定顯示 2 行 */
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.header_right .btn_gray_line{
    border: 1px solid gray;
    background-color: #fff;
    border-radius: 24px;
    padding: 12px;
    margin: 20px 0px;
}
.blog_right .blog_title{
    font-size: 110px;
    font-weight: 900;
}
.blog_header .icon{
    display: flex;
    align-items: center;
}
.blog_header .icon li{
    padding: 8px;
}
@media (max-width: 767px){
    .header_picture ul{
        flex-direction: column;
        align-items: start;
    } 
    .header_picture li{
        width: 100%;
    }
    .header_picture ul li img {
        width: 100%;
    }
    .header_picture .header_right{
        margin: 0;
        padding: 64px 15px;
    }
}
.content{
    width: 100%;
}
.content .main{
    width: 1296px;
    margin: 110px auto 0px;
}
.content .main h2{
    color: #000;
    font-size: 36px;
    font-weight: 700;
}
.container {
  width: 1296px;
  margin: 0 auto;
}
.all {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  margin-top: 48px;
  margin-bottom: 48px;
}
.all .item {
  width: 416px;
  margin: 0px 8px 40px 8px;
}
.content .main .all .item {
    list-style: none;
    width: 30%;
}
time {
  font-size: 14px;
  display: block;
  line-height: 2;
}
.item h2 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 12px;
}
.content .main .all .item h2{
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 12px;
}
.item p {
  width: 100%;
  font-size: 14px;
  margin-bottom: 12px;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* 設定顯示 2 行 */
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.item a {
  text-decoration: none;
  padding-right: 10px;
  font-weight: bold;
}
.item button {
  border: 1px solid #000;
  border-radius: 20px;
  padding: 5px 20px;
  background: #fff;
}
.item .bg-blue {
  background: blue;
  color: #fff;
  padding: 1px 10px;
}
.index_main_bottom .father{
    position: relative;
}
.index_main_bottom .father .son{
    position: absolute;
    border: 16px solid gray;
    top: 0;
    left: 0;
}
.index_main_bottom .father .on5_1{
    position: absolute;
    z-index: 5;
    background-color: #fff;
    top: 0;
    right: 0;
    width: 526px;
    height: 296px;
}
.index_main_bottom .father .on5_2{
    position: absolute;
    z-index: 10;
    background-color: #EDEDED;
    bottom: 0;
    right: 0;
    width: 526px;
    height: 312px;
}
.index_main_bottom .final ul{
    list-style: none;
    display: flex;
}
.page_number{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
}
.page_number li{
    width: 24px;
    height: 24px;
}
@media (max-width: 767px){
    .blog_header{
        flex-direction: column;
        width: 100%;
        height: auto;
    }
    .blog_header picture, .blog_header img, .blog_right{
        width: 100%;
        height: auto;
    }
    .blog_right{
        padding-bottom: 36px;
    }
     .header_picture {
        flex-direction: column;
        align-items: start;
        width: 100%;
    }
    .header_picture img,  .header_picture picture,  .header_picture .header_right{
        width: 100%;
    }
    .header_picture .header_right{
        margin: 0;
        padding: 64px 15px;
    }
    .container {
        width: 100%;
        padding: 0px 15px;
    }
     .all .item{
        width: 100%;
        display: flex;
        justify-content: start;
        flex-wrap: wrap;
    }
    .all .item time, .all .item h2,  .all .item p{
        width: 100%;
    }
}
.main{
    width: 636px;
    margin: 0 auto;
}
.main h2{
    font-size: 28px;
    color: var(--color-primary);
    font-weight: 700;
    padding-top: 16px;
}
.main h4{
    font-size: 20px;
    font-weight: 700;
    padding-top: 16px;
}
.main p{
    padding: 16px 0px;
}
.main .sub_p{
    padding: 0px;
}
.main img{
    margin-top: 32px;
}
.main ul{
    list-style-type: disc;
    list-style-position: inside;
}
.main ol{
    list-style-type: decimal;
    list-style-position: inside;
}
.main .gray-btn{
    background-color:#EDEDED;
    border-radius: 24px;
    padding: 24px;
    border: none;
    line-height: 1.5;
    font-weight: 700;
    font-family: Noto Sans TC;
    font-size: 16px;
    text-align: left;
    margin: 16px 0px;
    width: 100%;
}
.main .other-page{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main .btn_gray_line {
    border: 1px solid gray;
    background-color: #fff;
    border-radius: 24px;
    padding: 12px;
    margin: 20px 0px;
}
.main .page{
    line-height: 24px;
}
.main .index_main_top{
    padding: 0px 64px;
    margin-bottom: 64px;
}
.main .item{
    position: relative;
    margin-top: 16px;
    margin-bottom: 16px;
    height: 320px;
    width: 100%;
}
.main .item .word{
    position: absolute;
    z-index: 5;
    background-color: #fff;
    width: 50%;
    height: 160px;
    padding: 30px;
    top: 80px;
    right: 0px;
}
.main .item .word_l{
    position: absolute;
    z-index: 5;
    background-color: #fff;
    width: 50%;
    height: 160px;
    padding: 30px;
    top: 80px;
    left: 0px;
}
.main .item .picture_right{
    position: absolute;
    height: 320px;
    right: 0px;
}
.main .item .picture_left{
    position: absolute;
    height: 320px;
    left: 0px;
}
.main .item .word .word_title{
    font-size: 24px;
    font-weight: 700;
}
.main .item .word_l .word_title{
    font-size: 24px;
    font-weight: 700;
}
@media (max-width: 767px){
    .main{
        width: 100%;
        padding: 0px 15px;
    }
}
.footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid gray;
    padding: 3%;
}
.footer .webaddress{
    font-size: 32px;
}
.footer .icon{
    display: flex;
    align-items: center;
}
.footer .icon li{
    padding: 8px;
}
.power{
    width: 100%;
    display: block;
    text-align: center;
    padding: 24px;
}
@media (max-width: 767px){
    .footer{
        display: none;
    }
    .power{
        display: block;
        border: 1px solid gray;
    }
}   